spring:
  config:
    activate:
      on-profile: local

  data:
    redis:
      host: localhost
      port: 6379

deploy:
  env: local

app:
  baseUrl: http://localhost:8080
  clientUrl: http://localhost:3000